.item{
    display: flex;
    margin-top: 2%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}
.cards{
    border: 1px solid rgb(206, 190, 190);
    margin: 10px;
    width: 420px;
    height: 300px;
    padding: 20px 60px;
    border-radius: 0;
    text-align: center;
}

.ico{
    border: 1px solid #d63384;
    color: #d63384;
    background-color: white;
    height: 60px;
    width: 60px;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    position: relative;
}
.ico i{
    position: absolute;
    top: 26px;
    left: 16px;
    text-align: center;
    
}
.cards:hover{
    background-color: #d63384;
    color: white;
}

.item h4{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 90;
    
}

.item p{
    margin-top: 20px;
    color: #3f3f3f;
    letter-spacing: 0.5px;

}

.get{
    margin: 3% 20% 3% 10%;
    height:400px;
}
.get h2{
    margin-bottom: 20px;
    
}

.get form input{

    width: 100%;
    height: 40px;
    padding: 5px;
    margin: 10px;
    background-color: #f8f9fa;
    border: none;
}
.two{
    display: flex;
}
.big input[type=text]{
    height: 120px;
    padding-bottom: 70px;
}
button{
    margin-left: 10px;
}

