*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10% 20px 10%;

}
.logo{
    color: black;
    font-size: 32px;
    text-decoration: none;
    
}
span{
    color: #d63384;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}
nav ul li a:hover{
    color:#d63384;
}
.icons a{
    color: black;
    justify-content: space-between;
    padding: 10px;
    text-decoration: none;
}
.icons a ul{
    list-style : none  ;
    margin: 5px;
    padding: 0px;
    background-color: #f6f6f6;
    position: absolute;
    right: 0 ;
    min-width: 200px;
    top: calc(100% +10px);
    display: none;
}
.icons a:hover ul{
    display: block;
    z-index: 2;
}
.icons a ul li{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.icons a ul li:hover{
    padding-left: 25px;
}
.icons a ul li:not(:last-child){
    border-bottom: 1px solid #DDD;

}
.icons a:hover{
    color: #d63384;
}


