@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.sub-menu-wrap{
    position: absolute;
    top: 80%;
    right: 10%;
    width: 300px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    

}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}




.sub-menu{
    background: white;
    /* padding: 20px; */
    margin: 10px;
    height: 400px;
}
.user-info{
    display: flex;
    align-items: center;

}
.user-info a{
    /* border: 1px solid black; */
    width: 170px;
    font-size: 15px;
    cursor: pointer;
    
}

.user-info img{
    border: 1px solid rgb(53, 49, 49);
    width: 60px;
    border-radius: 10px;
    margin-left: 6px;
    margin-top: 20px;
    
    
}
.kk{
    margin-top: 60px;
    margin-left: -160px;
}
.kk span{
    color: #E72463;
}

/* .user-info hr{
    height: 2px;
    color: black;
    margin-top: 10px;
} */
hr{
    color: #3f3f3f;
}

.T{

    margin: 8px 8px;
    width: 50px;
    height: 40px;
    padding: 10px;

}
.price{

    margin-left: 200px;
    margin-top: -56px;
    height: 60px;
    padding: 19px;


}
.save{
    display: flex;
    
    justify-content: space-between;
    margin-top: 18px;
    
}
.butt{
    border: 1px solid black;
    margin-left: 10px;
    width: 80px;
    background-color: black;
    border-radius: 10px;
    


}
.ton{
    border: 1px solid black;
    margin-right: 20px;
    background-color: black;
    border-radius: 10px;
    
}



img{ 
   
    width: 100%;
    opacity: 0.7;
} 
.sec{
    position: relative;
}
.sec .content{
    color: black;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 16px;
}
.content p a{
    text-decoration: none;
    color: black;

}
.content p a:hover{
    color: #d63384;
}
.log{
    font-family: "Grey Qo",cursive;
    font-style: italic;
    font-size: 50px;
    padding-bottom: 20px;
}

.Login{
    
    width: 550px;
    height: 400px;
    margin-top:5%;
    margin-left: 30%;
    margin-bottom: 60px;
    box-sizing: border-box;
    background: #dee2e6;
}

.Login h2{
    margin: 0;
    padding: 20px 20px 5px 20px;
    text-align: center;
}
.Login p{
    text-align: center;
    color:#343a40 ;
}

.Login input[type="email"],.Login input[type="password"]{
    border: none;
    outline: none;
    width: 80%;
    margin: 40px 40px 5px 40px;
    height: 40px;
    padding: 10px;
    border-radius: 6px;
}
.option{
    display: flex;
    justify-content: space-between;
    margin: 10px 40px ;
    color: #343a40;
    
}
.option a{
    text-decoration: none;
    color: #343a40;
}
.option a:hover{
    color: #d63384;
}
.Create{
    text-decoration: none;
    color: #343a40;
    margin: 10px 40px ;
}
.Create:hover{
    color: #d63384;
}
button{
    width: 20%;
    padding: 10px;
    margin-left: 40px;
    font-size: 16px;
    border-radius: 6px;
    color: #dee2e6;
    background-color: #d63384;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    background-color: black;
    padding-left: 20px;
}
